@import url(./reset.css);
body{
    /* background-image: url(../img/bgi/about_us_bgi/body_bgi.jpg); */
    background-size:250%;
    background-color: rgba(255,255,255,0.5);
    background-repeat: no-repeat;
    background-image: url(../img/bgi/about_us_bgi/grayscale-watercolor-leaf-background-beautiful-floral-illustration\ 1.svg);
    /* opacity: 50%; */
}


.banner1{
    /* border: 1px solid red; */
    /* background-image: url(../img/bgi/about_us_bgi/banner1_bgi.jpg); */
    width: 100%;
    /* height: 700px; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}
.banner1 img{
    width: 100%;
}

.banner2{
    /* background-image: url(../img/bgi/about_us_bgi/body_bgi.jpg); */
    display: flex;
    /* border: 1px solid red; */
    width: 1440px;
    height: auto;
    margin: 20px auto;
    justify-content: center;
}
.about_us_text img{
    /* width: 600px; */
    /* height: 150px; */
    position: relative;
    /* overflow:visible; */
    top:-75px;
    /* border: 1px solid red; */
}
.about_us_text{ 
    /* border: 1px solid red; */
    width: 600px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/bgi/about_us_bgi/b2t_bgi.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 50px; */
    /* position: relative; */
    /* overflow:visible; */
}
.about_us_text p{
    /* border: 1px solid red; */
    writing-mode: vertical-lr;
    line-height: 3em;
    font-size: 26px;
    position: relative;
    top:-50px;
}

@media screen and (max-width: 576px){
    .banner1{
        
        height: auto;
    }
    .banner2{
        width: 100%;
    }
    .banner2 img{
        display:none;
    }
    .about_us_text img{
        display: none;
        position: none;
    }
    .about_us_text{
        width: 100%;
        height: 100%;
        background-image: url('');
    }
    .about_us_text p{
        font-size: 18px;
        top:0;
        position: none;
    }
}
@media screen and (min-width: 575px)and (max-width: 991.98px){
    .banner2{
        width: 100%;
    }
    .banner2 img{
        display:none;
    }
    .about_us_text img{
        display: none;
        position: none;
    }
    .about_us_text{
        width: 100%;
        height: 100%;
        background-image: url('');
    }
    .about_us_text p{
        font-size: 18px;
        top:0;
        position: none;
    }
}
.banner3 {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    /* border: 10px solid red; */
}
.b3_block1 {
    margin-top: 70px;
    margin-right: 10px;
}
.b3_block1 img{
    width: 100%;
}
.b3_block2 img{
    width: 100%;
}
@media screen and (max-width: 576px) {
    .banner3 {
        width: 100%;
        flex-direction: column;
    }
    .b3_block1{
        margin-right: 0px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .b3_block1 img{
        order: 1;
    }
    .b3_block1 h1{
        order: 2;
        margin-top: 10px;
    }
    .b3_block2 h1{
       margin: 10px 0;
    }
    .banner3 img{
        width: 100%;
    }
    .banner3 h1{
        font-size: 18px;
    }
}
.banner4{
    width: 1200px;
    display: flex;
    margin: 10px auto;
    /* justify-items: center; */
    align-items: center;
}
.banner4 h3{
    font-size: 2em;
    writing-mode: vertical-lr;
    text-align: center;
}
.banner4 p{
    margin:0 30px;
    font-size: 18px;
    line-height: 2.5em;
}
iframe{
    width: 800px;
    height: 400px;
}
/* .map{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.map iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

@media screen and (max-width: 576px) {
    .banner4 {
        width: 100%;
        flex-direction: column;
        /* border: 1px solid black; */
    }
    .banner4 h3{
        font-size: 18px;
        writing-mode: horizontal-tb;
        margin: 20px;
    }
    .banner4 p{
        font-size: 8px;
        display: none;
    }
    iframe{
        width: 100%;
        height: 400px;
        margin-bottom: 20px;
    }
        
    
}
@media screen and (min-width: 575px)and (max-width: 991.98px){
    .banner4 {
        width: 100%;
        flex-direction: column;
    }
    .banner4 h3{
        font-size: 18px;
    }
    .banner4 p{
        font-size: 8px;
        display: none;
    }
    .banner4 h3{
        writing-mode: horizontal-tb;
    }
}

