@import url(./reset.css);
body{
    font-family: 'Noto Sans TC', sans-serif;
}

.header{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}
.all_list{
    padding-left: 20px;
}
.fa-solid{
    color: rgb(255, 255, 255);
    font-size: 30px;
    line-height:150%;
    width: 40px;
    text-align: center;
    margin-bottom: 15px;
    transition: all 1s;
}
.logo{
    padding: 0 10px;
    width: 100%;
}
#shoppingcart_logo{
    /* color: red !important; */
    position: relative;
    transition: all 1s;
}
.shopping_nums{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    right: -5px;
    top: -8px;
    border: 2px solid white;
    text-align: center;
    line-height: 20px;
    color: #f5f5f7;
    display: none;
    
}
@media screen and (max-width:576px) {
    .shopping_nums{
        width: 15px;
        height: 15px;
        line-height: 15px;
        font-size: 12px;

    }
}
/* ------RWD----- */
@media screen and (max-width: 576px){
    img.logo{
      width: 50%;
      padding: 5px;
    }
    i.fa-solid{
        font-size: 20px;
        width: 30px;
    }
    div.header ul {
        padding: 20px;
        z-index: 1;
    }
    div.header ul li ul{
        left: -100px;
    }
  }
  @media screen and (min-width: 576px)and (max-width:991.98px){
    img.logo{
      width: 60%;
    }
    i.fa-solid{
        font-size: 25px;
        width: 40px;
    }
    div.header ul {
        padding: 10px;
        z-index: 1;
    }
    div.header ul li ul{
        left: -100px;
    }
  }
/* nav */
.header ul{
    padding: 25px; 
    display: inline-flex;
}
.header ul>li{
    /* border: 1px solid red; */
    position: relative;
}
.header ul li ul li {
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #f5f5f7;
    border-bottom: 0.5px solid black;
    transition: all 1s;
}
.all_list ul a{
    display: block;
    /* border: 1px solid #000; */
    transition: all 1s;   
}
.shoppingcart a{
    display: block;
    /* border: 1px solid #000; */
    transition: all 1s;  
}
.user a{
    display: block;
    /* border: 1px solid #000; */
    transition: all 1s;  
}

.header ul li ul{
    position: absolute;
    /* background-color: #fff; */
    left: -115px;
    top: -19px;
    display: none;
}

/* nav show */
.header ul li:hover>ul{
    display: block;
    
}
.header ul li ul li:hover{
    display: block;
    background-color: dimgray;
}
.header ul a:hover{
    transform: scale3d(1.1,1.1,1.1);
}

/* nav_end */
.banner1{
    position: relative;
}

/* header_end */

h3{
    font-size: 2em;
    text-shadow: 2px 1px 1px rgba(0,0,0,0.3);
}
h1{
    text-shadow: 2px 1px 1px rgba(0,0,0,0.3);
}
h2{
    font-size: 3em;
    text-shadow: 2px 1px 1px rgba(0,0,0,0.5);
}
a{
    text-decoration: none;
    color: black;
}
p{
    color: black;
}


/* footer */
.footer{
    width: 100%;
    height: 100%;
    padding: 0 auto ;
    background-color: rgba(182,182,182,1);
    justify-content: center;
    display: flex;
    flex-basis: 0;
    flex-shrink: 0;
    /* border: 1px solid red; */
}
.footer img{
    width: 30%;
    margin:20px 0;
}
.footer_l1{
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 1;
    /* border: 1px solid red; */
    margin: auto 0px;
    font-size: 24px;
    text-align: center;
}
.footer_l1 li{
    margin: 15px 0;
}
.footer_l1 a{
    display: block;
    transition: all 1s;
}
.footer_l2{
    flex-basis: 0;
    flex-shrink: 0;
    /* border: 1px solid red; */
    flex-grow: 2.5;
    text-align: center;
    font-size: 12px;
}

.footer_l3{
    /* flex-basis: 0; */
    /* flex-shrink: 0; */
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.footer_l3 ul{
    display: flex;
}
.footer_l3 li{
    padding-right: 30px;
    /* border: 1px solid red; */
}
.fa-brands{
    font-size: 50px;
    color: #000;
}
.footer_l3 a{
    display: block;
    transition: all 1s;
}
.footer a:hover{
    transform: scale3d(1.1,1.1,1.1);
}
#myBtn {
    background-image: url(../img/up-arrow.png);
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 1; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    /* background-color: gray; Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    font-size: 18px; /* Increase font size */
    transition: all 3s;
  }
#myBtn:hover {
    background-color:yellow; /* Add a dark-grey background on hover */
  }

  @media screen and (max-width: 576px){
      div.footer{
          height: 100%;
      }
      div.footer_l1 {
          font-size: 10px;
      }
      div.footer_l2{
        margin-bottom: 20px;
    }
    div.footer_l2 p{
        margin-top: 10px;
        font-size: 8px;
        width: auto;
        height: auto;
        line-height: 1.6;
    }
    div.footer_l2 img{
        width: 60%;
        margin: 0;
        margin-top: 20px;
    }
    div.footer_l3 ul{
        flex-direction: column;
    }
    div.footer_l3 li{
        padding-right: 5px;
        margin-bottom: 10px;
    }

    i.fa-brands{
        font-size: 150%;
        
    }
    #myBtn{
        width: 20px;
        height: 20px;
        font-size: 20px;
        right: 10px;
    }
  }

  @media screen and (min-width:576px) and (max-width: 991.98px){
    div.footer{
        height: 100%;
    }
    div.footer_l1 {
        font-size: 14px;
    }
    div.footer_l2{
      font-size: 12px;
    }
    div.footer_l2 a{
        font-size: 12px;
    }
    div.footer_l2 img{
        width: 45%;
    }
    div.footer_l3 ul{
        flex-direction: column;
    }
    div.footer_l3 li{
        padding-right: 5px;
        margin-bottom: 10px;
    }

    i.fa-brands{
        font-size: 175%;
    }
    #myBtn{
        width: 20px;
        height: 20px;
        font-size: 20px;
        /* padding: 20px; */
    }
}