@import url(./reset.css);

body{
    background-image: url(../img/bgi/products.bgi/Blue\ marble\ Art\ Print\ by\ a-dream89\ 2.svg);
    font-family: 'Noto Sans TC', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.wrapper{
    width: 1440px;
    margin: 0 auto;
}
header{
    height: 130px;
    border-bottom:1px solid #000 !important;
}
.fa-solid{
    color: #000 !important;
    /* border: 1px solid red; */
}
#shoppingcart_logo{
    /* color: red !important; */
    position: relative;
    transition: all 1s;
}
.shopping_nums{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    right: -5px;
    top: -8px;
    border: 2px solid white;
    text-align: center;
    line-height: 20px;
    color: #f5f5f7;
    display: none;
    
}
@media screen and (max-width:576px) {
    .shopping_nums{
        width: 15px;
        height: 15px;
        line-height: 15px;
        font-size: 12px;
    }
}
.s_a{
    animation: s_a .3s;
    
}
@keyframes s_a{
    0%{
        transform: scale3d(1.5,1.5,1.5);
    }
    100%{
        transform: scale3d(1,1,1);
    }
}
.header ul{
    margin-right: 50px;
}

section>a{
    display: block;
    margin: 30px;
}
.banner1{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    /* border: 1px red solid; */
    justify-content: center;
} 
.products_photo{
    width: 400px;
    height: 400px;
    background-image: url(../img/index/hot01.png);
    background-size: cover;
    /* background-position: center center; */
}
.b1_tb2{
    margin: 10px ;
    /* background-color:#f5f5f7; */
    text-align: center;
}
.p_style1{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    background-image: url(../img/products/p1.svg);
    background-size: cover;
    border-radius: 25%;
}
.p_style2{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    background-image: url(../img/products/p2.svg);
    background-size: cover;
    border-radius: 25%;
}
.p_style3{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    background-image: url(../img/products/p5.jpg);
    border-radius: 25%;
    background-size: cover;
    background-position: center;
}
.p_style4{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    background-image: url(../img/products/p6.jpg);
    background-size: cover;
}
.p_style5{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    background-image: url(../img/products/p7.jpg);
    background-size: cover;
}


/* ----hoverå€ */
button:hover{
    /* border:1px solid gray; */
    transition: all 1s;
    transform:scale3d(1.1,1.1,1.1);
}
/* -------------------tb3 ------------------------*/

.b1_tb3{
    /* border: 1px solid red; */
    margin-left: 20px;
    height: 500px;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
}
.b1_tb3 h3{
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1; */
}
.tb3_p1{
    margin: 10px;
    font-size: 20px;
    line-height: 2;
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 6; */
    /* border: 1px solid rebeccapurple; */
}

.q_block{
    /* grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 7; */
    display: flex;
    /* border: 1px solid red; */
    height: 30px;
    line-height: 30px;
    margin: 10px;
}
.b1_tb3 img{
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 8; */
    margin: 10px;
}
.tb3_p2{
    font-size: 14px;
    margin: 10px;
    /* grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 9;
    grid-row-end: 9; */
}
.button{
    /* border: 1px solid red; */
    /* grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 10; */
    text-align: center;
}
.button button{
    border: 1px solid gray;
    height: 50px;
    width: 200px;
    margin: 20px;
    font-size: 1.5em;
    border-radius: 5%;
    background-color: #f5f5f7;
}
@media screen and (max-width:576px) {
    .wrapper{
        width: auto;;
    }
    header{
        height: 70px;
    }
    .header ul{
        margin-right: 10px;
    }
    .banner1{
        margin-top: 20px;
        width: auto;
        height: 50%;
    }
    .products_photo{
        width: 200px;
        height: 200px;
        background-size: cover;
        margin-left: 5px;
    }
    .b1_tb2{
        margin: 5px;
    }
    .q_block{
        margin: 5px;
    }
    .button button{
        width: 120px;
        font-size: 16px;
        margin: 0px;
    }
    .button button:last-child{
        display: none;
    }
    section>a{
        display: none;
    }
    .b1_tb3{
        height: auto;
        margin: 5px;
    }
    .b1_tb3 img{
        display: none;
    }
    .b1_tb3 h3{
        font-size: 18px;
    }
    .b1_tb3 p{
        font-size: 14px;
    }
    
}
@media screen and (min-width:576px) and (max-width:992.98px){
    .wrapper{
        width: auto;;
    }
    header{
        height: 80px;
    }
    .header ul{
        margin-right: 20px;
    }
    .banner1{
        margin-top: 20px;
        width: auto;
        height: auto;
    }
    .products_photo{
        width: 300px;
        height: 300px;
        background-size: cover;
        margin-left: 5px;
    }
    .b1_tb2{
        margin: 10px;
    }
    .q_block{
        margin: 10px;
    }
    .button button{
        width: auto;
        font-size: 24px;
        margin: 20px 0px;
    }
    section>a{
        display: none;
    }
    .b1_tb3{
        height: auto;
        margin: 5px;
    }

    .b1_tb3 h3{
        font-size: 24px;
    }
    .b1_tb3 p{
        font-size: 18px;
    }
}

/* section2 */
.s2_tb1{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* border-top: 2px solid black; */
}
.s2_tb1 p{
    width: 350px;
    line-height: 1.6;
    margin: 20px;
}
.s2_img{
    width: 660px;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* flex-grow: 1; */
}

/* section2_end */

.more_products_block h3{
    text-align: center;
    margin-top: 40px;
}

.more_products ul{
    /* border: 1PX solid red; */
    margin: 20px auto;
    width: 1000px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: #f5f5f7;
}
.more_products li{
    /* margin-bottom: 20px; */
    transition: all 0.7s;
    margin-right: 10px;
}
.more_products li:hover{
    transform: scale3d(1.05,1.05,1.05);
}
.more_products a{
    display: block;
    width: 200px;
    /* border: 1px solid red; */
    font-size: 18px;
    line-height: 1.5;
    font-size: 18px;
}
.more_products img{
    width: 200px;
    height: 200px;
}
.more_products button{
    height: 50px;
    width: 50px;
    border: none;
    background-color:#f5f5f7;
    border-radius: 25%;
}
@media screen and (max-width:576px) {
    .more_products ul{
        width: 300px;
    }
    .s2_tb1{
        flex-direction: column;
        border-bottom: 1px solid black;
        padding-bottom: 20px;
    }
    .s2_img{
        width: 100%;
        margin-bottom: 10px;
    }
    .s2_img img{
        width: 40%;
        margin: 5px;
    }
    .more_products ul{
        background-color:transparent;
    }
    .more_products li:first-child{
        display: none;
    }
    .more_products li:last-child{
        display: none;
    }
}
@media screen and (min-width:576px) and (max-width:992.98px){
    .more_products ul{
        width: 100%;
    }
    .s2_tb1{
        flex-direction: column;
        border-bottom: 1px solid black;
        padding-bottom: 20px;
    }
    .s2_tb1 p{
        width: 100%;
        margin: 0px;
    }
    .s2_tb1{
        margin: 20px;
    }
    .s2_img{
        width: 100%;
        margin-bottom: 10px;
    }
    .s2_img img{
        width: 40%;
        margin: 5px;
    }
    .more_products ul{
        background-color:transparent;
    }
    .more_products li:first-child{
        display: none;
    }
    .more_products li:last-child{
        display: none;
    }
}