@import url(./reset.css);

body{
    background-image: url(../img/bgi/sign_up/sign_up_bgi.png);
    font-family: 'Noto Sans TC', sans-serif;
}
input{
    border: 0;
    border-bottom: 1px solid gray;
    /* height: 30px;
    line-height: 1.6; */
    background-color: none;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.wrapper>video{
    position: absolute;
    z-index: -1;
    opacity: .1;
    width: 100%;
}
header{
    height: 100px;
}
.fa-solid{
    color: #000 !important;
}

section>h1{
    text-align: center;
    font-size:42px;
    margin-bottom: 50px;
    height: 50px;
}
.back_sign_in{
    display: flex;
    font-size: 14px;
    margin: 20px 0;
}
.back_sign_in>a{
    color: blue;
}
.u_p{
    width: 100%;
    height: 250px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.u_p_l{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-size: 20px;
    height: 300px;
}
.u_p_l span{
    height: 2px;
    background-color:black;
    border: 1px solid black;
    width: 600px;
}
.u_p_l input{
    width: 250px;
}
.username{
    margin-top: 10px;
    display: flex;
}
.password{
    margin-top: 20px;
    display: flex;
}
.confirm_password{
    margin-top: 20px;
    display: flex;
    width: 400px;
}
@media screen and (max-width: 576px){
    .u_p_l span{
        width: 100%;
    }
    .confirm_password{
        width: auto;
    }
}
.member_information{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 600px;
}
.m_i_l{
    /* height: 120px; */
    display: flex;
    flex-direction: column;
    /* align-items: center ; */
    justify-content: space-between;
    /* border: 1px solid red; */
    padding-top: 20px;
    font-size: 20px;
    height: 400px;
}
.member_information span{
    height: 2px;
    background-color:black;
    border: 1px solid black;
    width: 600px;
    margin-top: 20px;
}
.like_mi{
    display: flex;
    font-size: 18px;
}
input[type = checkbox]{
    height: auto;
}
.membername{
    display: flex;
    /* margin-top: 10px; */
}
.birth_date{
    display: flex;
    /* margin-top: 10px; */
}
.phone_number{
    display: flex;
}
.email{
    display: flex;
}
.address{
    display: flex;
}

.form-row{
    display: flex;
}
.ads{
    text-align: center;
}
.ad{
    width: 300px;
}
.ips{
    text-align: center;
    margin: 0 auto;
}
.form-row input{
    width: 60px;
}
input[type=submit]{
    width: 200px;
    border: 0;
    margin:20px 0;
    font-size: 20px;
    /* margin-left: 140px; */
    /* border-radius: 5%; */
    background-color: rgba(182,182,182,1);
    height: 50px;
}
input[type=submit]:hover{
    background-color: black;
    color: #f5f5f7;
    height: 50px;
}
input{
    height: 25px;
    border: none;
    border-bottom: #000 1px solid;
}
/* ------RWD----- */
@media screen and (max-width: 576px){
    .member_information{
        width: auto;
        flex-direction: column;
        text-align: center;
    }
    .member_information span{
        width: 100%;
    }
    .m_i_l{
        width: auto;
        height: 400px;
        margin-left: 0px;
    }
    .ad{
        margin-top: -20px;
    }
}