@import url(./reset.css);

body{
    background-image: url(../img/bgi/member/Blue\ Marble2\ 1.svg);
}

.block{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.block01{
    width: 400px;
    height: 400px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* font-size: 20px; */
    text-align: center;
    /* -webkit-clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); */
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    border-radius: 25%;
    padding: 30px;
}
.block01 p{
    /* text-align: center; */
    font-size: 16px;
}
.username{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* align-content: center; */
    /* border: 1px solid red; */
    align-items: center;
}
.password{
    display: flex;
    justify-content: center;
    /* margin: 20px; */
    align-items: center;
    
}
input[type=username]{
    width: 250px;
    height:40px;
    border: 0px;
    border-bottom: 1px solid gray;
}
input[type=password]{
    width: 250px;
    height:40px;
    border: 0px;
    border-bottom: 1px solid gray;
}
.remeber_me{
    display: flex;
    justify-content: center;
}
.remeber_me a{
    margin-left: 10px;
    color:blue;
    /* text-decoration: solid; */
}

.sign_up{
    display: flex;
    justify-content: center;
    /* margin: 10px; */
}
.sign_up a{
    color:blue;
}
.in_or_up{
    /* width: 200px; */
    display: flex;
    justify-content:center;
}
input[type=submit]{
    width: 100px;
    height:40px;
    /* border: 0px; */
    /* border: 1px solid gray; */
    font-size: 18px;
    /* background-color: aqua; */
}
.block02{
    width: 400px;
    /* height: 350px; */
    text-align: center;
    /* border: 1px solid red; */
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    background-size: cover;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    overflow: hidden;
}
.block02 p{
    margin-top: 60px;
    font-size: 32px;
    line-height: 1.6;
    /* border: 1px solid red; */
    color: #545454;
}