@import url(./reset.css);
body{
    background-image: url(../img/bgi/style_bgi/Blue\ Marble\ 4.png);
    font-family: 'Noto Sans TC', sans-serif;
}
.wrapper{
    width: 100%;
    /* font-size: 20px; */
}
header{
    height: 110px;
    border-bottom:1px solid #000 !important;
}
.header{
    background-color: #f5f5f7;
}
.style_list{
    width: 1200px;
    height: 110px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}
.style_list a{
    display: block;
    height: 30px;
    font-size: 16px;
    /* border: 1px solid red; */
}
.fa-solid{
    color: #000 !important;
}
.banner1{
    /* position: relative; */
}

/* header_end */
/* ------RWD----- */
@media screen and (max-width: 576px){
    .style_list{
        display: none;
    }
    header{
        height: 80px;
    }
  }
  @media screen and (min-width: 576px)and (max-width:991.98px){
    .style_list{
        display: none;
    }
  }
  @media screen and (min-width: 992px)and (max-width:1439.98px){
    .style_list{
        display: none;
    }
  }
h3{
    font-size: 2em;
    text-shadow: 2px 1px 1px rgba(0,0,0,0.3);
}
h1{
    text-shadow: 2px 1px 1px rgba(0,0,0,0.3);
    font-size: 2em;
}
h2{
    font-size: 2em;
    text-shadow: 2px 1px 1px rgba(0,0,0,0.5);
}
a{
    text-decoration: none;
    color: black;
}
p{
    color: black;
}
section>a{
    display: block;
    margin: 20px;
}
section{
    font-size: 20px;
}
@media screen and (max-width:1439.98px) {
    section>a{
        display: none;
    }
}
/* b1 */
.banner1{
    width: 800px;
    margin: 20px auto;
    text-align: center;
    /* border: 1px solid red; */
}
.banner1 h3{
    margin: 20px;
}

@media screen and (max-width: 576px){
   .banner1{
       width: auto;
   }
   .banner1 img{
       width: 100%;
   }
   .banner1 h3{
       font-size: 24px;
   }
}
@media screen and (min-width: 576px)and (max-width:1439.98px){
    .banner1{
        width: auto;
    }
    .banner1 img{
        width: 100%;
    }
    .banner1 h3{
        font-size: 24px;
    }
}
/* b2 */
.banner2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.b201{
    margin-right: 50px;
}
.b201 p{
    margin-bottom: 5px; 
    text-align: center;
}
.b202{
    writing-mode: vertical-lr;
}
.b202 p{
    margin-right: 5px;
    text-align: center;
}
@media screen and (max-width: 576px){
    .banner2{
        flex-direction: column;
        margin: 20px 0;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .b201{
        margin-right: 0px;
        margin: 20px 0;
    }
}
@media screen and (min-width: 576px)and (max-width:991.98px){
    .banner2{
        flex-direction: column;
        margin: 20px 0;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .b201{
        margin-right: 0px;
        margin: 20px 0;
    }
}
/* b3 */
.banner3{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    
}
.b301{
    writing-mode: vertical-lr;
}
.b301 p{
    margin-right: 5px;
    text-align: center;
}
.b302{
    margin-top: 20px;
    margin-left: 80px;
}
.b302 p{
    /* margin-bottom: 10px;  */
    text-align: center;
}
@media screen and (max-width: 576px){
    .banner3{
        flex-direction: column;
        margin: 20px 0px;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .b302{
        margin-left: 0px;
    }
}
@media screen and (min-width: 576px)and (max-width:991.98px){
    .banner3{
        flex-direction: column;
        margin: 20px 0px;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .b302{
        margin-left: 0px;
    }
}
/* b4 */
.banner4{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.b401{
    margin-right: 50px;
}
.b401 p{
    margin-bottom: 5px; 
    text-align: center;
}
.b402{
    writing-mode: vertical-lr;
}
.b402 p{
    margin-right: 5px;
    text-align: center;
}
@media screen and (max-width: 576px){
    .banner4{
        flex-direction: column;
        margin: 20px 0px;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .b401{
        margin-right: 0px;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 576px)and (max-width:991.98px){
    .banner4{
        flex-direction: column;
        margin: 20px 0px;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .b401{
        margin-right: 0px;
        margin-bottom: 20px;
    }
}
