@import url(./reset.css);
body{
    background-image: url(../img/bgi/style_bgi/Blue\ Marble\ 4.png);
    font-family: 'Noto Sans TC', sans-serif;
}
.wrapper{
    width: 100%;
    /* font-size: 20px; */
}
header{
    height: 110px;
    border-bottom:1px solid #000;
}
.style_list{
    width: 1200px;
    height: 110px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}
.style_list a{
    display: block;
    height: 30px;
    font-size: 16px;
    /* border: 1px solid red; */
}
.header{
    width: 100%;
    /* height: 100px; */
    margin: 0 auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    /* border-bottom:1px solid #000; */
}
.fa-solid{
    color: black;
    font-size: 30px;
    line-height:150%;
    width: 40px;
    text-align: center;
    margin-bottom: 15px;
}
.logo{
    padding: 0 10px;
    height: 100px;
}
/* nav */
.header ul{
    /* border:1px solid #000; */
    margin: 30px; 
    display: inline-flex;
}

.header ul>li{
    position: relative;
}

.header ul li ul li {
    /* border: 1px solid red; */
    width: 90px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #f5f5f7;
    border-bottom: 0.5px solid black;
    transition: all 1s 12s;
}

.header ul li ul{
    /* width: 80px; */
    /* height: 100%; */
    position: absolute;
    /* background-color: #fff; */
    left: -124px;
    top: -25px;
    display: none;
    z-index: 1;
}

/* nav show */
.header ul li:hover>ul{
    display: block;
    /* transform: rotate(1.1,1,1); */
}
.header ul li ul li:hover{
    display: block;
    /* transform: rotate(1,1,1);
    transition: all 3s; */
}
.header ul a:hover{
    transform: scale3d(1.1,1.1,1.1);
}
/* nav_end */
.banner1{
    /* position: relative; */
}
.lefticon{
    position:absolute;
    top: 325px;
    left: 40px;
}
.righticon{
    position: absolute;
    top: 325px;
    right: 40px;
}
/* header_end */
/* ------RWD----- */
@media screen and (max-width: 576px){
    img.logo{
      width: 50%;
      padding: 0px;
    }
    i.fa-solid{
        font-size: 24px;
        width: 30px;
    }
    div.header ul {
        padding: 0px;
        z-index: 1;
    }
    div.header ul li ul{
        left: -100px;
    }
    .style_list{
        display: none;
    }
    header{
        height: 80px;
    }
  }
  @media screen and (min-width: 576px)and (max-width:991.98px){
    img.logo{
      width: 60%;
    }
    i.fa-solid{
        font-size: 25px;
        width: 40px;
    }
    div.header ul {
        padding: 10px;
        z-index: 1;
    }
    div.header ul li ul{
        left: -100px;
    }
    .style_list{
        display: none;
    }
  }
  @media screen and (min-width: 992px)and (max-width:1439.98px){
    .style_list{
        display: none;
    }
  }
h3{
    font-size: 2em;
    text-shadow: 2px 1px 1px rgba(0,0,0,0.3);
}
h1{
    text-shadow: 2px 1px 1px rgba(0,0,0,0.3);
    font-size: 2em;
}
h2{
    font-size: 2em;
    text-shadow: 2px 1px 1px rgba(0,0,0,0.5);
}
a{
    text-decoration: none;
    color: black;
}
p{
    color: black;
}
section>a{
    display: block;
    margin: 20px;
}
section{
    font-size: 20px;
}
@media screen and (max-width:1439.98px) {
    section>a{
        display: none;
    }
}
/* b1 */
.banner1{
    width: 800px;
    margin: 20px auto;
    text-align: center;
    /* border: 1px solid red; */
}
.banner1 h3{
    margin: 20px;
}

@media screen and (max-width: 576px){
   .banner1{
       width: auto;
   }
   .banner1 img{
       width: 100%;
   }
   .banner1 h3{
       font-size: 24px;
   }
}
@media screen and (min-width: 576px)and (max-width:1439.98px){
    .banner1{
        width: auto;
    }
    .banner1 img{
        width: 100%;
    }
    .banner1 h3{
        font-size: 24px;
    }
}
/* b2 */
.banner2{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.b201{
    margin-right: 50px;
}
.b201 p{
    margin-bottom: 5px; 
    text-align: center;
}
.b202{
    writing-mode: vertical-lr;
}
.b202 p{
    margin-right: 5px;
    text-align: center;
}
@media screen and (max-width: 576px){
    .banner2{
        flex-direction: column;
        margin: 0;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .b201{
        margin-right: 0px;
    }
}
@media screen and (min-width: 576px)and (max-width:991.98px){
    .banner2{
        flex-direction: column;
        margin: 0;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .b201{
        margin-right: 0px;
    }
}
/* b3 */
.banner3{
    display: flex;
    justify-content: center;
    margin: 20px auto;
    
}
.b301{
    writing-mode: vertical-lr;
}
.b301 p{
    margin-right: 5px;
    text-align: center;
}
.b302{
    margin-top: 20px;
    margin-left: 80px;
}
.b302 p{
    /* margin-bottom: 10px;  */
    text-align: center;
}
@media screen and (max-width: 576px){
    .banner3{
        flex-direction: column;
        margin: 0 0px;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .b302{
        margin-left: 0px;
    }
}
@media screen and (min-width: 576px)and (max-width:991.98px){
    .banner3{
        flex-direction: column;
        margin: 0 0px;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .b302{
        margin-left: 0px;
    }
}
/* b4 */
.banner4{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
.b401{
    margin-right: 50px;
}
.b401 p{
    margin-bottom: 5px; 
    text-align: center;
}
.b402{
    writing-mode: vertical-lr;
}
.b402 p{
    margin-right: 5px;
    text-align: center;
}
@media screen and (max-width: 576px){
    .banner4{
        flex-direction: column;
        margin: 0 0px;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .b401{
        margin-right: 0px;
    }
}
@media screen and (min-width: 576px)and (max-width:991.98px){
    .banner4{
        flex-direction: column;
        margin: 0 0px;
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .b401{
        margin-right: 0px;
    }
}
/* footer */
.footer{
    width: 100%;
    height: 100%;
    padding: 0 auto ;
    background-color: rgba(182,182,182,1);
    justify-content: center;
    display: flex;
    flex-basis: 0;
    flex-shrink: 0;
    /* border: 1px solid red; */
}
.footer img{
    width: 30%;
    margin:20px 0;
}
.footer_l1{
    flex-basis: 0;
    flex-shrink: 0;
    flex-grow: 1;
    /* border: 1px solid red; */
    margin: auto 0px;
    font-size: 24px;
    text-align: center;
}
.footer_l1 li{
    margin: 15px 0;
}
.footer_l1 a{
    display: block;
    transition: all 1s;
}
.footer_l2{
    flex-basis: 0;
    flex-shrink: 0;
    /* border: 1px solid red; */
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
}

.footer_l3{
    /* flex-basis: 0; */
    /* flex-shrink: 0; */
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
.footer_l3 ul{
    display: flex;
}
.footer_l3 li{
    padding-right: 30px;
    /* border: 1px solid red; */
}
.fa-brands{
    font-size: 50px;
    color: #000;
}
.footer_l3 a{
    display: block;
    transition: all 1s;
}
.footer a:hover{
    transform: scale3d(1.1,1.1,1.1);
}
#myBtn {
    background-image: url(../img/up-arrow.png);
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 1; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    /* background-color: gray; Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    font-size: 18px; /* Increase font size */
    transition: all 3s;
  }
#myBtn:hover {
    background-color:yellow; /* Add a dark-grey background on hover */
  }
@media screen and (max-width: 576px){
    div.footer{
        height: 100%;
    }
    div.footer_l1 {
        font-size: 10px;
    }
    div.footer_l2{
      font-size: 5px;
  }
  div.footer_l2 p{
      margin-top: 10px;
      font-size: 8px;
      width: auto;
      height: auto;
  }
  div.footer_l2 a{
      font-size: 5px;
  }
  div.footer_l2 img{
      width: 80%;
  }
  div.footer_l3 ul{
      flex-direction: column;
  }
  div.footer_l3 li{
      padding-right: 5px;
      margin-bottom: 10px;
  }

  i.fa-brands{
      font-size: 150%;
      
  }
  #myBtn{
      width: 20px;
      height: 20px;
      font-size: 20px;
      right: 10px;
  }
}

@media screen and (min-width:576px) and (max-width: 991.98px){
  div.footer{
      height: 100%;
  }
  div.footer_l1 {
      font-size: 14px;
  }
  div.footer_l2{
    font-size: 12px;
  }
  div.footer_l2 a{
      font-size: 12px;
  }
  div.footer_l2 img{
      width: 45%;
  }
  div.footer_l3 ul{
      flex-direction: column;
  }
  div.footer_l3 li{
      padding-right: 5px;
      margin-bottom: 10px;
  }

  i.fa-brands{
      font-size: 175%;
  }
  #myBtn{
      width: 20px;
      height: 20px;
      font-size: 20px;
      /* padding: 20px; */
  }
}